body {
  font-family: Arial, sans-serif;
  background: url('./components/images/5.jpg') no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
}

.home {
  text-align: center;
  margin-top: 50px;
}
/* 
.login, .signup {
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login h2, .signup h2 {
  margin-bottom: 20px;
}

.login form div, .signup form div {
  margin-bottom: 15px;
}

.login form label, .signup form label {
  display: block;
  margin-bottom: 5px;
}

.login form input, .signup form input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  background: #5cb85c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #272f31;
} */
